*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    text-decoration: none;
    font-family: 'Roboto';
    background: none;
}

body{
    background: #0F172A;
}

header{
    margin-top: 4px;
}

.header-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

.buttons{
    display: flex;
    gap: 121px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.buttons a{
    color: #F8FAFC;
}

main{
    background: none;
    margin: 0px 145px auto 145px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.element{
    display: flex;
    color: #CBD5E1;
    background: rgba(30, 41, 59, 0.4);
    border-radius: 20px;
    gap: 44px;
}

.element img{
    margin: 34px auto 34px 8px;
}

.text h2{
    margin-top: 88px;
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
}

.text p{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.text-edit{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

/*   editing specia for second post, because picture has different sizes   */

.element-2{
    display: flex;
    color: #CBD5E1;
    background: rgba(30, 41, 59, 0.4);
    border-radius: 20px;
    gap: 76px;
}

.element-2 img{
    margin: 46px auto 46px 17px;
}

/*   editing specia for third post, because picture has different sizes   */

.element-3{
    display: flex;
    color: #CBD5E1;
    background: rgba(30, 41, 59, 0.4);
    border-radius: 20px;
    gap: 109px;
}

.element-3 img{
    margin: 54px auto 54px 27px;
}
